/* Navbar */
body {
    background-color: #000;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #000;
    z-index: 1;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
}

.logo h3 {
    margin-left: 10px;
    color: #fff;
    
    font-size: 28px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #000;

    /* Lato font */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links a {
    display: block;
    padding: 30px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: all ease-in-out 100ms;
}

.nav-links a:hover {
    color: #06b006;
}

.nav-links .nav-cta-button {
    padding: 10px 18px;
    margin-left: 16px;
    border: #fff solid 2px;
    border-radius: 50px;
}

.nav-links .nav-cta-button:hover {
    background-color: #fff;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 34px;
}

.hamburger .bar {
    flex-basis: 100%;
    height: 4px;
    background-color: #fff;
    margin: 3px;
}

.header {
    position: sticky;
}

/* Responsive design */
@media (max-width: 768px) {
    /* Navbar */
    nav {
        flex-wrap: wrap;
    }

    .hamburger {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        height: 80px;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        text-align: center;
        font-size: 28px;
    }

    .nav-links a:hover {
        color: #06b006;
    }

    .nav-links .nav-cta-button {
        padding: 30px 16px;
        margin-left: 0;
        border: none;
        border-radius: 0;
        margin-bottom: 20px;
    }

    .nav-links .nav-cta-button:hover {
        color: #06b006;
    }
}

/* Socials grid template (WIP, return to this later) */
@media (max-width: 619px) {
    .socials {
        display: grid;
        grid-template-areas:
        "social-1 social-2 social-3"
        "social-4 social-5 social-6 social-7";
    }
}

/* Footer */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer {
    background-color: #000;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.socials a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.socials a i {
    font-size: 2em;
    color: #000;
    opacity: 0.9;
}

/* Socials hover effects */
.socials a:hover {
    background-color: #000;
    transition: 0.25s;
}

.socials a:hover i {
    color: #fff;
    transition: 0.25s;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: #fff;

    /* Lato font */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Lato font */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
